body {
  min-height: 75rem;
}

#primary-nav {
  background-color: #212529;
}

.navbar-nav > li > .dropdown-menu { background-color: #212529; }

.nav-item.dropdown .dropdown-item {
   background-color: white !important;
}

.nav-item.dropdown .dropdown-item:hover {
    background-color: red !important;
}
