body {
  min-height: 75rem;
}

#primary-nav {
  background-color: #343a40;
}

.navbar-nav > li > .dropdown-menu { background-color: #343a40; }

.navbar-text,
.navbar-brand,
.nav-link,
.nav-link.active {
  color:#fff;
}
