body {
  min-height: 75rem;
}

#primary-nav {
  background-color: #212529;
}

.navbar-nav > li > .dropdown-menu { background-color: #212529; }

.nav-item.dropdown .dropdown-item {
   background-color: #212529 !important;
   color: rgba(255,255,255,.55) !important;
}

.nav-item.dropdown .dropdown-item:hover {
    background-color: #f8f9fa !important;
    color: #212529 !important;
}
.nav-item.dropdown .dropdown-item:active {
    background-color: rgb(255, 200, 0) !important;
}
